/Auxiliary Functions/approximationParameters.mat
/Auxiliary Functions/economicParameters.mat
/Auxiliary Functions/firstOrderDynamics_polynomials/Output/firstOrderDynamics_polynomials_results.mat
/Auxiliary Functions/firstOrderDynamics_polynomials/checksum
/Auxiliary Functions/firstOrderDynamics_polynomials/graphs/firstOrderDynamics_polynomials_IRF_aggregateTFPShock.eps
/Auxiliary Functions/grids.mat
/Auxiliary Functions/polynomials.mat
